<!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a href="index.html">
                    <img src="img/logo7.png" class="img-responsive" alt=""  style="height: 50px;">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">How It Works</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#cities">Cities</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Travel</div>
                <div class="intro-heading">It's Time To Go</div>
                <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="padding-bottom: 10px;">What is Pre'Go?</h2>
                    <hr style="border-color: #f7d698; width: 50%;">
                    <h3 class="section-subheading text-muted" style="line-height: 30px; padding-top: 20px; width: 80%; margin: auto;">Pre'Go is a decision support system for travel asistant. As a result of a lot of research we have done for you, we have seen that people can not decide which city is best for them to travel. That's why travel has different parameters for different people. As a result of our survey, we have included in our system what people consider most important to travel, and according to these parameters, we can sort out the cities that are most suitable for you.</h3>
                    
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it works</h2>
                    
                    <h3 class="section-subheading ">If you can not decide where you want to go, Pre'Go is the best travel recommendation engine for you.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Choose cities</h4>
                    <p class="text-muted" >Firstly, you choose at most 7 cities that you want to travel from our offered cities.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ranked Criteria</h4>
                    <p class="text-muted">Secondly, rate the criteria we have set for you. This rating will be between the two criteria, and whichever criterion the viewer takes, this will show that the criteria in that direction is more important in your travel choice</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Best Option</h4>
                    <p class="text-muted">Lastly, this part is most fun! We've listed the cities that are most appropriate for you. A trip like you want is waiting for you.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- cities Grid Section -->
    <section id="cities" class="bg-light-gray">
        <div class="container">
            <div class="row text-center">
                <h2 class="section-heading">Cities</h2>
                <p>Please select maximum 7 city to go</p>
                <div class="row">
                    <div class="form-group">
                        <div class="items-collection">

                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                        <label class="btn btn-default citybutton">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                <h5 id="PARI"> Paris </h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                        <label class="btn btn-default citybutton">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                <h5 id="BCN"> Barcelona </h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                        <label class="btn btn-default citybutton">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                <h5 id="BERL"> Berlin </h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                        <label class="btn btn-default citybutton">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                <h5 id="LOND"> London </h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>                
                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                        <label class="btn btn-default citybutton">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                <h5 id="PRG"> Prague </h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>                
                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                        <label class="btn btn-default citybutton">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                <h5 id="AMS"> Amsterdam </h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>                
                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                        <label class="btn btn-default citybutton">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                <h5 id="MAD"> Madrid </h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                        <label class="btn btn-default citybutton">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                <h5 id="ZRH"> Zurich </h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                        <label class="btn btn-default citybutton">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                <h5 id="VENI"> Venice </h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                        <label class="btn btn-default citybutton">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                <h5 id="ROME"> Rome </h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                        <label class="btn btn-default citybutton">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                <h5 id="BUD"> Budapest </h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                        <label class="btn btn-default citybutton">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                <h5 id="VIE"> Vienna </h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>                
                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                        <label class="btn btn-default citybutton">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                <h5 id="OST"> Belgrade </h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>                
                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                        <label class="btn btn-default citybutton">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                <h5 id="MILA"> Milan </h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>                
                            <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="btn-group itemcontent">
                                        <label class="btn btn-default citybutton">
                                            <div class="itemcontent">
                                                <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                <h5 id="LIS"> Lisbon </h5>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div><div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <div class="info-block block-info clearfix">
                                <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                    <label class="btn btn-default citybutton">
                                        <div class="itemcontent">
                                            <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                            <h5 id="DUB"> Dublin </h5>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <div class="info-block block-info clearfix">
                                <div data-toggle="buttons" class="btn-group itemcontent">
                                    <label class="btn btn-default citybutton">
                                        <div class="itemcontent">
                                            <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                            <h5 id="MAN"> Manchester </h5>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <div class="info-block block-info clearfix">
                                <div data-toggle="buttons" class="btn-group itemcontent">
                                    <label class="btn btn-default citybutton">
                                        <div class="itemcontent">
                                            <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                            <h5 id="FLR"> Florence </h5>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <div class="info-block block-info clearfix">
                                <div data-toggle="buttons" class="btn-group itemcontent">
                                    <label class="btn btn-default citybutton">
                                        <div class="itemcontent">
                                            <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                            <h5 id="CPH"> Copenhagen </h5>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="items col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <div class="info-block block-info clearfix">
                                <div data-toggle="buttons" class="btn-group itemcontent">
                                    <label class="btn btn-default citybutton">
                                        <div class="itemcontent">
                                            <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                            <h5 id="HEL"> Helsinki </h5>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#criteria" id="criteriabutton" class="page-scroll btn btn-xl" style="margin-top: 30px;">Show Criteria</a>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="criteria">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Criteria</h2>
                <h3 class="section-subheading text-muted">Please ranked following criterias</h3>
                <div class="sliders">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <b>City rating</b>
                        </div>
                        <div class="col-md-6">
                            <div id="updateSlider" onchange="updateRankingInfo()"></div>
                        </div>
                        <div class="col-md-3">
                            <b>Flight pricing</b>
                        </div>

                        <div class="col-md-12">
                            <b>Flight pricing</b> is <span id="valueSlider1"></span> <span id="criteria1"></span> 
                            <b>city rating</b>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <b>City pricing</b>
                        </div>
                        <div class="col-md-6">
                            <div id="updateSlider2" onchange="updateRankingInfo()"></div>
                        </div>
                        <div class="col-md-3">
                            <b>Flight pricing</b>
                        </div>

                        <div class="col-md-12">
                            <div> <b>Flight pricing</b> is <span id="valueSlider2"></span> <span id="criteria2"></span><b>city pricing</b></div>
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <b>Visit frequency of city</b>
                        </div>
                        <div class="col-md-6">
                            <div id="updateSlider3" onchange="updateRankingInfo()"></div>
                        </div>
                        <div class="col-md-3">
                            <b>Flight pricing</b>
                        </div>

                        <div class="col-md-12">
                            <div> <b>Flight pricing</b> is <span id="valueSlider3"></span> <span id="criteria3"></span><b>visit frequency of city</b></div>
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <b>City pricing</b>
                        </div>
                        <div class="col-md-6">
                            <div id="updateSlider4" onchange="updateRankingInfo()"></div>
                        </div>
                        <div class="col-md-3">
                            <b>City rating</b>                            
                        </div>

                        <div class="col-md-12">
                            <div> <b>City rating</b> is <span id="valueSlider4"></span> <span id="criteria4"></span><b>city pricing</b></div>
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <b>Visit frequency of city</b>
                        </div>
                        <div class="col-md-6">
                            <div id="updateSlider5" onchange="updateRankingInfo()"></div>
                        </div>
                        <div class="col-md-3">
                            <b>City rating</b>
                        </div>

                        <div class="col-md-12">
                            <div> <b>City rating</b> is <span id="valueSlider5"></span> <span id="criteria5"></span><b>visit frequency of city</b></div>
                            <hr>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <b>Visit frequency of city</b>
                        </div>
                        <div class="col-md-6">
                            <div id="updateSlider6" onchange="updateRankingInfo()"></div>
                        </div>
                        <div class="col-md-3">                                
                            <b>City pricing</b>
                        </div>

                        <div class="col-md-12">
                            <div> <b>City pricing</b> is <span id="valueSlider6"></span> <span id="criteria6"></span><b>visit frequency of city</b></div>
                        </div>

                        <div class="col-md-12">
                            <a href="#ranked" class="page-scroll btn btn-xl" id="search-criteria-button" style="margin-top: 30px;">Search for me </a>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="ranked" class="bg-light-gray">
    <div class="container">
        <div class="row" >
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Have a Nice Trip !</h2>
                <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 text-center">
                    <a href="https://www.tripadvisor.com.tr/Tourism-g187147-Paris_Ile_de_France-Vacations.html">
                        <img src="http://blog.tatilbudur.com/wp-content/uploads/ilk-190.jpg" style=" height: 150px; width: 150px;">
                    </a>
                    <a href="https://www.tripadvisor.com.tr/Tourism-g187147-Paris_Ile_de_France-Vacations.html" style=" color: #000">
                        <p><b>1-Paris</b></p>
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a href="">
                        <img src="https://lonelyplanetimages.imgix.net/mastheads/stock-photo-beautiful-amsterdam-76796579.jpg?sharp=10&vib=20&w=1200" style=" height: 150px; width: 150px;">
                    </a>
                    <a href="https://www.tripadvisor.com.tr/Tourism-g187147-Paris_Ile_de_France-Vacations.html" style=" color: #000">
                        <p><b>2-Amsterdam</b></p>
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a>
                        <img src="http://image.touristica.com.tr/TourFiles/large/barcelona11_68075.jpg" style=" height: 150px; width: 150px;">
                    </a>
                    <a href="https://www.tripadvisor.com.tr/Tourism-g187147-Paris_Ile_de_France-Vacations.html" style=" color: #000">
                        <p><b>3-Barselona</b></p>
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a>
                        <img src="https://gezimanya.com/sites/default/files/foto-galeri/gorseller/kapak_30.jpg" style=" height: 150px; width: 150px;">
                    </a>
                    <a href="https://www.tripadvisor.com.tr/Tourism-g187147-Paris_Ile_de_France-Vacations.html" style=" color: #000">
                        <p><b>4-Berlin</b></p>
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a>
                        <img src="http://www.celebialper.com/wp-content/uploads/prag.jpg" style=" height: 150px; width: 150px;">
                    </a>
                    <a href="https://www.tripadvisor.com.tr/Tourism-g187147-Paris_Ile_de_France-Vacations.html" style=" color: #000">
                        <p><b>5-Prag</b></p>
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a>
                        <img src="http://www.gezilecekyerler.biz/wp-content/uploads/2014/11/Lizbonda-Yap%C4%B1lacak-%C5%9Eeyler.jpg" style=" height: 150px; width: 150px;">
                    </a>
                    <a href="https://www.tripadvisor.com.tr/Tourism-g187147-Paris_Ile_de_France-Vacations.html" style=" color: #000">
                        <p><b>6-Lizbon</b></p>
                    </a>
                </div>
                <div class="col-md-4 text-center">
                    <a>
                        <img src="http://journo.com.tr/wp-content/uploads/2016/05/Rome.jpg" style=" height: 150px; width: 150px;">
                    </a>
                    <a href="https://www.tripadvisor.com.tr/Tourism-g187147-Paris_Ile_de_France-Vacations.html" style=" color: #000">
                        <p><b>7-Roma</b></p>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <!-- <h3 class="section-subheading text-muted">We are lovely team in that project</h3> -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/1.png" class="img-responsive img-circle" alt="">
                    <h4>Seda Karamalak</h4>
                    <p class="text-muted"></p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/SedaKrmlk"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/profile.php?id=100010489968631"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://tr.linkedin.com/in/seda-karamalak-501509a5/tr"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/2.png" class="img-responsive img-circle" alt="">
                    <h4>Zeynep Nur Temel</h4>
                    <p class="text-muted"></p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/zntemel"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/zntemel"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://tr.linkedin.com/in/zeynep-nur-temel-ba261753"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/3.png" class="img-responsive img-circle" alt="">
                    <h4>irem Nur Boğaz</h4>
                    <p class="text-muted"></p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/irembogaz"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/irem.bogaz.7"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://tr.linkedin.com/in/irem-boğaz-374a22b2"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="img/team/4.png" class="img-responsive img-circle" alt="">
                    <h4>Narmina Zubanova</h4>
                    <p class="text-muted"></p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/NZubanova"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/n.zubanova"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://tr.linkedin.com/in/narmina-zubanova-b0037289"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="footer" class="bg-light-gray">
    <div class="container">
        <div class="row text-center">
            <span class="copyright"><b>Pre'Go 2016</span>
        </div>
    </div>
</section>

<script type="text/javascript">
    var cityButtons = document.getElementsByClassName('citybutton');
    for (var i=0; i<20; i++){
        cityButtons[i].addEventListener("mouseout", function(event){
            controlActiveCities(event);
        });
    }
    function controlActiveCities(event) {
        var selectedCities = document.getElementsByClassName('citybutton active');
        // console.log(document.getElementsByClassName('citybutton active'));
        if (selectedCities.length > 7){
            var targetElement = event.target || event.srcElement;
            // console.log(targetElement.classList);
            targetElement.classList.remove("active");
            alert('you cannot select more than 7 cities!');
        }
    }

    window.consistent = true;

    function sendRequest(selectedCities){
        var selectedCityInitials = [];
        for(i = 0; i < selectedCities.length; i++) {
            var initial = selectedCities[i].querySelectorAll("h5")[0].id;
            selectedCityInitials.push(initial);
        }

        var http = new XMLHttpRequest();
        var url = "/results";

        var params = {
            'eigenVector' : window.eigenVector,
            'cityInitials' : selectedCityInitials
        };

        http.open("POST", url, true);

        //Send the proper header information along with the request
        http.setRequestHeader("Content-type", "application/json");

        http.onreadystatechange = function() {//Call a function when the state changes.
            if(http.readyState == 4 && http.status == 200) {
                alert(http.responseText);
            }
        }
        http.send(JSON.stringify(params));
    }

    function controlMinActiveCitiesAndConsistency(selectedCities){
        if (selectedCities.length < 2 && window.consistent == false){
            alert('you should choose more than one city and your data is inconsistent');
        } else if (selectedCities.length < 2){
            alert('you should choose more than one city');
        } else if (window.consistent == false){
            alert('your data is inconsistent');
        } else {
            sendRequest(selectedCities);
        }
    }

    // debugger;
    var searchCriteriaButton = document.getElementById('search-criteria-button');
    searchCriteriaButton.addEventListener("click", function(){
        var selectedCities = document.getElementsByClassName('citybutton active');
        controlMinActiveCitiesAndConsistency(selectedCities);
    });
</script>

<script type="text/javascript">
    // search-criteria-button
    window.criteriaMatrix = {
        "flightPricing" : {
            "flightPricing" : 1,
            "cityRating" : 1,
            "cityPricing" : 1,
            "visitFrequency" : 1
        },
        "cityRating" : {
            "flightPricing" : 1,
            "cityRating" : 1,
            "cityPricing" : 1,
            "visitFrequency" : 1
        },
        "cityPricing" : {
            "flightPricing" : 1,
            "cityRating" : 1,
            "cityPricing" : 1,
            "visitFrequency" : 1
        },
        "visitFrequency" : {
            "flightPricing" : 1,
            "cityRating" : 1,
            "cityPricing" : 1,
            "visitFrequency" : 1
        },
        "sum" : {
            "flightPricing" : 4,
            "cityRating" : 4,
            "cityPricing" : 4,
            "visitFrequency" : 4
        }
    }
    
</script>

<script type="text/javascript">
    function updateCriteriaMatrix(criteriaNumber, sliderValue) {
        if (criteriaNumber === '1'){
            var leftCriteria = 'cityRating'
            var rightCriteria = 'flightPricing';
        } else if (criteriaNumber === '2'){
            var leftCriteria = 'cityPricing'
            var rightCriteria = 'flightPricing';
        } else if (criteriaNumber === '3'){
            var leftCriteria = 'visitFrequency'
            var rightCriteria = 'flightPricing';
        } else if (criteriaNumber === '4'){
            var leftCriteria = 'cityPricing'
            var rightCriteria = 'cityRating';
        } else if (criteriaNumber === '5'){
            var leftCriteria = 'visitFrequency'
            var rightCriteria = 'cityRating';
        } else if (criteriaNumber === '6'){
            var leftCriteria = 'visitFrequency'
            var rightCriteria = 'cityPricing';
        }


        if (criteriaNumber === criteriaNumber){
            if (sliderValue > 0){
                criteriaMatrix[rightCriteria][leftCriteria] = sliderValue + 1;
                criteriaMatrix[leftCriteria][rightCriteria] = 1 / (sliderValue + 1);
            } else if (sliderValue === 0){
                criteriaMatrix[rightCriteria][leftCriteria] = 1;
                criteriaMatrix[leftCriteria][rightCriteria] = 1;
            } else { 
                criteriaMatrix[leftCriteria][rightCriteria] = (sliderValue * -1) + 1;
                criteriaMatrix[rightCriteria][leftCriteria] = 1 / ((sliderValue * -1) + 1);
            }
        }
        criteriaMatrix['sum']['flightPricing'] = criteriaMatrix['flightPricing']['flightPricing'] 
                                                + criteriaMatrix['cityRating']['flightPricing'] 
                                                + criteriaMatrix['cityPricing']['flightPricing'] 
                                                + criteriaMatrix['visitFrequency']['flightPricing'];

        criteriaMatrix['sum']['cityRating']    = criteriaMatrix['flightPricing']['cityRating'] 
                                                + criteriaMatrix['cityRating']['cityRating'] 
                                                + criteriaMatrix['cityPricing']['cityRating'] 
                                                + criteriaMatrix['visitFrequency']['cityRating'] ;

        criteriaMatrix['sum']['cityPricing']   = criteriaMatrix['flightPricing']['cityPricing'] 
                                                + criteriaMatrix['cityRating']['cityPricing'] 
                                                + criteriaMatrix['cityPricing']['cityPricing'] 
                                                + criteriaMatrix['visitFrequency']['cityPricing'];

        criteriaMatrix['sum']['visitFrequency']= criteriaMatrix['flightPricing']['visitFrequency'] 
                                                + criteriaMatrix['cityRating']['visitFrequency'] 
                                                + criteriaMatrix['cityPricing']['visitFrequency'] 
                                                + criteriaMatrix['visitFrequency']['visitFrequency'] ;

        window.normalizedMatrix = {
            "flightPricing" : {
                "flightPricing" : null,
                "cityRating" : null,
                "cityPricing" : null,
                "visitFrequency" : null
            },
            "cityRating" : {
                "flightPricing" : null,
                "cityRating" : null,
                "cityPricing" : null,
                "visitFrequency" : null
            },
            "cityPricing" : {
                "flightPricing" : null,
                "cityRating" : null,
                "cityPricing" : null,
                "visitFrequency" : null
            },
            "visitFrequency" : {
                "flightPricing" : null,
                "cityRating" : null,
                "cityPricing" : null,
                "visitFrequency" : null
            }
        }

        normalizedMatrix['flightPricing']['flightPricing'] = criteriaMatrix['flightPricing']['flightPricing'] / 
                                                             criteriaMatrix['sum']['flightPricing'];
        normalizedMatrix['flightPricing']['cityRating'] = criteriaMatrix['flightPricing']['cityRating'] / 
                                                             criteriaMatrix['sum']['cityRating'];
        normalizedMatrix['flightPricing']['cityPricing'] = criteriaMatrix['flightPricing']['cityPricing'] / 
                                                             criteriaMatrix['sum']['cityPricing'];
        normalizedMatrix['flightPricing']['visitFrequency'] = criteriaMatrix['flightPricing']['visitFrequency'] / 
                                                             criteriaMatrix['sum']['visitFrequency'];
        normalizedMatrix['cityRating']['flightPricing']    = criteriaMatrix['cityRating']['flightPricing'] / 
                                                             criteriaMatrix['sum']['flightPricing'];
        normalizedMatrix['cityRating']['cityRating'] = criteriaMatrix['cityRating']['cityRating'] / 
                                                             criteriaMatrix['sum']['cityRating'];
        normalizedMatrix['cityRating']['cityPricing'] = criteriaMatrix['cityRating']['cityPricing'] / 
                                                             criteriaMatrix['sum']['cityPricing'];
        normalizedMatrix['cityRating']['visitFrequency'] = criteriaMatrix['cityRating']['visitFrequency'] / 
                                                             criteriaMatrix['sum']['visitFrequency'];
        normalizedMatrix['cityPricing']['flightPricing'] = criteriaMatrix['cityPricing']['flightPricing'] / 
                                                             criteriaMatrix['sum']['flightPricing'];
        normalizedMatrix['cityPricing']['cityRating'] = criteriaMatrix['cityPricing']['cityRating'] / 
                                                             criteriaMatrix['sum']['cityRating'];
        normalizedMatrix['cityPricing']['cityPricing'] = criteriaMatrix['cityPricing']['cityPricing'] / 
                                                             criteriaMatrix['sum']['cityPricing'];
        normalizedMatrix['cityPricing']['visitFrequency'] = criteriaMatrix['cityPricing']['visitFrequency'] / 
                                                             criteriaMatrix['sum']['visitFrequency'];
        normalizedMatrix['visitFrequency']['flightPricing']    = criteriaMatrix['visitFrequency']['flightPricing'] / 
                                                             criteriaMatrix['sum']['flightPricing'];
        normalizedMatrix['visitFrequency']['cityRating'] = criteriaMatrix['visitFrequency']['cityRating'] / 
                                                             criteriaMatrix['sum']['cityRating'];
        normalizedMatrix['visitFrequency']['cityPricing'] = criteriaMatrix['visitFrequency']['cityPricing'] / 
                                                             criteriaMatrix['sum']['cityPricing'];
        normalizedMatrix['visitFrequency']['visitFrequency'] = criteriaMatrix['visitFrequency']['visitFrequency'] / 
                                                             criteriaMatrix['sum']['visitFrequency'];

        window.eigenVector = {
            "flightPricing" : (normalizedMatrix['flightPricing']['flightPricing'] + normalizedMatrix['flightPricing']['cityRating'] + normalizedMatrix['flightPricing']['cityPricing'] + normalizedMatrix['flightPricing']['visitFrequency']) / 4,
            "cityRating" : (normalizedMatrix['cityRating']['flightPricing'] + normalizedMatrix['cityRating']['cityRating'] + normalizedMatrix['cityRating']['cityPricing'] + normalizedMatrix['cityRating']['visitFrequency']) / 4,
            "cityPricing" : (normalizedMatrix['cityPricing']['flightPricing'] + normalizedMatrix['cityPricing']['cityRating'] + normalizedMatrix['cityPricing']['cityPricing'] + normalizedMatrix['cityPricing']['visitFrequency']) / 4,
            "visitFrequency" : (normalizedMatrix['visitFrequency']['flightPricing'] + normalizedMatrix['visitFrequency']['cityRating'] + normalizedMatrix['visitFrequency']['cityPricing'] + normalizedMatrix['visitFrequency']['visitFrequency']) / 4
        };

        window.ax = {
            'flightPricing' : criteriaMatrix['flightPricing']['flightPricing'] * eigenVector['flightPricing'] +
                              criteriaMatrix['flightPricing']['cityRating'] * eigenVector['cityRating'] +
                              criteriaMatrix['flightPricing']['cityPricing'] * eigenVector['cityPricing'] +
                              criteriaMatrix['flightPricing']['visitFrequency'] * eigenVector['visitFrequency'],
            'cityRating' : criteriaMatrix['cityRating']['flightPricing'] * eigenVector['flightPricing'] +
                              criteriaMatrix['cityRating']['cityRating'] * eigenVector['cityRating'] +
                              criteriaMatrix['cityRating']['cityPricing'] * eigenVector['cityPricing'] +
                              criteriaMatrix['cityRating']['visitFrequency'] * eigenVector['visitFrequency'],
            'cityPricing' : criteriaMatrix['cityPricing']['flightPricing'] * eigenVector['flightPricing'] +
                              criteriaMatrix['cityPricing']['cityRating'] * eigenVector['cityRating'] +
                              criteriaMatrix['cityPricing']['cityPricing'] * eigenVector['cityPricing'] +
                              criteriaMatrix['cityPricing']['visitFrequency'] * eigenVector['visitFrequency'],
            'visitFrequency' : criteriaMatrix['visitFrequency']['flightPricing'] * eigenVector['flightPricing'] +
                              criteriaMatrix['visitFrequency']['cityRating'] * eigenVector['cityRating'] +
                              criteriaMatrix['visitFrequency']['cityPricing'] * eigenVector['cityPricing'] +
                              criteriaMatrix['visitFrequency']['visitFrequency'] * eigenVector['visitFrequency'],
        };

        window.lambdaMax = {
            'flightPricing' : ax['flightPricing'] / eigenVector['flightPricing'],
            'cityRating' : ax['cityRating'] / eigenVector['cityRating'],
            'cityPricing' : ax['cityPricing'] / eigenVector['cityPricing'],
            'visitFrequency' : ax['visitFrequency'] / eigenVector['visitFrequency']
        };

        window.avarageLambdaMax = (lambdaMax['flightPricing'] + lambdaMax['cityRating'] + lambdaMax['cityPricing'] + lambdaMax['visitFrequency']) / 4;

        window.consistencyIndex = (avarageLambdaMax - 4) / 3;
        window.randomConsistencyIndex = 0.90;
        window.consistencyRatio = consistencyIndex / randomConsistencyIndex;

        if(consistencyRatio < 0.1)
            window.consistent = true;
        else
            window.consistent = false;
    }

    function updateRankingInfo(values, handle, criteriaNumber) {
        var sliderValue = parseInt(values[handle]);
        var sliderTextElement = document.getElementById("criteria" + criteriaNumber);

        if (sliderValue < 0){
            sliderTextElement.innerHTML =  "times less important than ";
            document.getElementById('valueSlider' + criteriaNumber).innerHTML = (sliderValue * (-1));
        } else if (sliderValue == 0){
            sliderTextElement.innerHTML =  "equal to ";
            document.getElementById('valueSlider' + criteriaNumber).innerHTML = "";
        } else {
            sliderTextElement.innerHTML =  "times more important than ";
            document.getElementById('valueSlider' + criteriaNumber).innerHTML = sliderValue;
        }

        updateCriteriaMatrix(criteriaNumber, sliderValue);
    }

    </script>

    <script type="text/javascript">
        var updateSlider = document.getElementById('updateSlider');
        // updateSliderValue = document.getElementById('valueSlider1');

        noUiSlider.create(updateSlider, {
            range: {
                'min': -3,
                'max': 3
            },
            start: 0,
            margin: 8,
            step: 1
        });

        updateSlider.noUiSlider.on('update', function( values, handle ) {
            updateRankingInfo(values, handle, '1');
        });
    </script>

    <script type="text/javascript">
        var updateSlider2 = document.getElementById('updateSlider2');
        // updateSliderValue2 = document.getElementById('valueSlider2');

        noUiSlider.create(updateSlider2, {
            range: {
                'min': -3,
                'max': 3
            },
            start: 0,
            margin: 8,
            step: 1
        });

        updateSlider2.noUiSlider.on('update', function( values, handle ) {
            updateRankingInfo(values, handle, '2');
        });
    </script>
    <script type="text/javascript">
        var updateSlider3 = document.getElementById('updateSlider3');
        // updateSliderValue3 = document.getElementById('valueSlider3');

        noUiSlider.create(updateSlider3, {
            range: {
                'min': -3,
                'max': 3
            },
            start: 0,
            margin: 8,
            step: 1
        });

        updateSlider3.noUiSlider.on('update', function( values, handle ) {
            updateRankingInfo(values, handle, '3');
        });
    </script>
    <script type="text/javascript">
        var updateSlider4 = document.getElementById('updateSlider4');
        // updateSliderValue4 = document.getElementById('valueSlider4');

        noUiSlider.create(updateSlider4, {
            range: {
                'min': -3,
                'max': 3
            },
            start: 0,
            margin: 8,
            step: 1
        });

        updateSlider4.noUiSlider.on('update', function( values, handle ) {
            updateRankingInfo(values, handle, '4');
        });
    </script>
    <script type="text/javascript">
        var updateSlider5 = document.getElementById('updateSlider5');
        // updateSliderValue5 = document.getElementById('valueSlider5');

        noUiSlider.create(updateSlider5, {
            range: {
                'min': -3,
                'max': 3
            },
            start: 0,
            margin: 8,
            step: 1
        });

        updateSlider5.noUiSlider.on('update', function( values, handle ) {
            updateRankingInfo(values, handle, '5');
        });
    </script>
    <script type="text/javascript">
        var updateSlider6 = document.getElementById('updateSlider6');
        // updateSliderValue6 = document.getElementById('valueSlider6');

        noUiSlider.create(updateSlider6, {
            range: {
                'min': -3,
                'max': 3
            },
            start: 0,
            margin: 8,
            step: 1
        });

        updateSlider6.noUiSlider.on('update', function( values, handle ) {
            updateRankingInfo(values, handle, '6');
        });
    </script>
