<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Prego</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Custom Fonts -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" class="index">

<%= yield %>

<style>
    #about {
        padding: 100px;
    }
    #footer {
        padding: 20px;
    }
    #team {
        padding: 100px;
    }
    #search {
        width:90%;
    }

    .searchicon {
        color:#5CB85C;
    }

    .items-collection{
        margin:20px 0 0 0;
    }
    .items-collection label.btn-default.active{
        background-color:#007ba7;
        color:#FFF;
    }
    .items-collection label.btn-default{
        width:90%;
        border:1px solid #305891;
        margin:5px; 
        border-radius: 17px;
        color: #305891;
    }
    .items-collection label .itemcontent{
        width:100%;
    }
    .items-collection .btn-group{
        width:90%
    }
    .sliders div {
        margin-bottom: 20px;

    }
    .noUi-connect {
        background: #3FB8AF;
        box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
        -webkit-transition: background 450ms;
        transition: background 450ms;
    }
    .noUi-horizontal {
        margin: auto;
        width: 500px;
    }

</style>

</body>
</html>
